/* @layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
} */

.logo {
  width: 108px;
}

body {
  background-color: var(--surface-ground);
  margin: 0;
}

.icon-img {
  width: 1.5rem;
}

.landing-hero,
.landing-hero-content {
  background: linear-gradient(112.31deg, #6c757d 19.49%, #00c2ff 98.51%);
  color: white;
}
